<div class="datetime mk-datetime flex flex-col gap-3 max-w-2xl lg:flex-row">
    <div class="basis-1/2 flex flex-col gap-1.5">
        <span class="mk-datetime__label">تاریخ</span>
        <div class="mk-datetime__control relative w-full">
            {% with widget=widget.subwidgets.0 %}
                {% include widget.template_name %}
            {% endwith %}
        </div>
    </div>

    <div class="basis-1/2 flex flex-col gap-1.5">
        <span class="mk-datetime__label">ساعت</span>
        <div class="mk-datetime__control relative w-full">
            {% with widget=widget.subwidgets.1 %}
                {% include widget.template_name %}
            {% endwith %}
        </div>
    </div>
</div>
