# Django
SECRET_KEY=yvoc^ettelba_v_7f#r&rhk5mpt3=uj*vz_^+a^wgc=k8#t$1z
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Postgres
POSTGRES_DB=mardekoohestan_db
POSTGRES_USER=mardekoohestan
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=54320

# Redis / Celery
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=amqp://mardekoohestan:change-me@127.0.0.1:5672//
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

# Kafka
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092

# OpenSearch
OPENSEARCH_HOST=127.0.0.1
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=ChangeMeOpenSearch_1

# MinIO
MINIO_ROOT_USER=mardekoohestan
MINIO_ROOT_PASSWORD=change-me-minio-strong
MINIO_BUCKET_NAME=mardekoohestan
MINIO_ENDPOINT_URL=http://127.0.0.1:9010
MINIO_REGION=us-east-1
