# Django
SECRET_KEY=yvoc^ettelba_v_7f#r&rhk5mpt3=uj*vz_^+a^wgc=k8#t$1z
DEBUG=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
AUTH_COOKIE_SAMESITE=Lax
AUTH_COOKIE_SECURE=false

# Security (production)
TRUST_X_FORWARDED_FOR=false
RATE_LIMIT_FAIL_CLOSED=false
SECURE_SSL_REDIRECT=true
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_PRELOAD=false

# Postgres & Connection Pooling
POSTGRES_DB=mardekoohestan_db
POSTGRES_USER=mardekoohestan
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=54320
DB_CONN_MAX_AGE=60

# Redis / Celery (Broker, Cache, Queues)
REDIS_URL=redis://127.0.0.1:6379/0
REDIS_MAX_CONNECTIONS=100
CHANNEL_REDIS_URL=redis://127.0.0.1:6379/2
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

# Kafka
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092

# OpenSearch
OPENSEARCH_HOST=127.0.0.1
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=ChangeMeOpenSearch_1

# MinIO
MINIO_ROOT_USER=mardekoohestan
MINIO_ROOT_PASSWORD=change-me-minio-strong
MINIO_BUCKET_NAME=mardekoohestan
MINIO_ENDPOINT_URL=http://127.0.0.1:9010
MINIO_REGION=us-east-1
